/* url: doc.rust-lang.org */

body,
.content,
.sidebar,
.sidebar .block,
.in-band,
h2 {
    background-color: #282828;
    color: #ccb;
}

p.location,
code,
h3 {
    background-color: #282828 !important;
    color: #ccb !important;
}


blockquote {
    background-color: #999;
    border-radius: 10px;
}



.cm-s-default,
.docblock pre {
    background-color: #aaa;
}

.docblock pre {
    background-color: #32302f;
    border-radius: 5px;
}

.docblock pre code {
    color: #134;
}

.docblock h1 {
    color: #aaa !important;
}

.search-input {
    background-color: #555;
    border: none;
    padding: .3em 0 .3em .4em;
}

img.img-responsive,
.sidebar img {
    background-color: #820;
    border-radius: 10px;
}

pre.trait,
pre.struct,
pre.enum,
pre.fn {
    background-color: #32302f;
    border-radius: 10px;
}

pre.trait {
    border-color: rgba(252, 174, 43, .7) !important;
}

pre.struct {
    border-color: rgba(229, 55, 0, .7) !important;
}

pre.enum {
    border-color: rgba(147, 188, 153, .7) !important;
}

pre.fn {
    border-color: rgba(162, 119, 127, .7) !important;
}

pre.rust {
    color: #d5c4a1;
}

a {
    color: #8ec07c;
}


a.struct,
.block.struct h2 {
    color: rgba(229, 55, 0, .7) !important;
}

a.struct.current {
    color: rgba(229, 55, 0, 1) !important;
}

a.trait,
.block.trait h2 {
    color: rgba(252, 174, 43, .7) !important;
}

a.trait.current {
    color: rgba(252, 174, 43, 1) !important;
}

a.mod,
.block.mod h2 {
    color: #458588 !important;
}

a.fn,
.block.fn h2 {
    color: rgba(162, 119, 127, .7);
}

a.fn.current {
    color: rgba(162, 119, 127, 1);
}


a:hover {
    color: #cc241d !important;
    text-decoration: underline !important;
    background-color: #3c3836 !important;
}
p code,
h2 code,
li code {
    color: #ebdbb2;
    background-color: #3c3836 !important;
    padding: 0 3px 0 3px;
    border-radius: 4px;
}

pre.notrust {
    background-color: #32302f;
}

pre.rust,
pre.line-numbers {
    background-color: #32302f;
}

pre.line-numbers .line-highlighted {
    background-color: #C67E2D;
    color: #221;
}

span.white-sticker,
a.hash.white-sticker {
    background-color: #32302f;
    border: 1px solid #733;
}

h1.title,
h1 a {
    color: #83a598 !important;
}

h2.title,
h2 a code,
h2.title a code,
h2 a {
    color: #83a598 !important;
}
